__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
.mypy_cache/
.pytest_cache/
.tox/
.idea/
.vscode/
.git/
.gitignore
*.log
records/
recordings/
snapshots/
cache/
data/
.cursor/
node_modules/
deploy/gitlab/data/
deploy/gitlab/logs/
deploy/gitlab/config/*.json
deploy/gitlab/config/*.key
deploy/gitlab/config/*.pub
deploy/gitlab/config/initial_root_password
deploy/
grafana/
build_venv/


