auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /var/lib/loki
  ring:
    kvstore:
      store: memberlist
  replication_factor: 1

schema_config:
  configs:
    - from: 2025-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  filesystem:
    directory: /var/lib/loki/chunks

limits_config:
  max_streams_per_user: 5000
  ingestion_rate_mb: 10
  ingestion_burst_mb: 20

chunk_store_config:
  max_look_back_period: 168h

table_manager:
  retention_deletes_enabled: true
  retention_period: 168h

