apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://10.0.0.10:9090
    isDefault: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s
    editable: true

