{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 48.2262739,
    "longitude": 16.3647816,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Vienna",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "AT",
    "language": "en-GB",
    "radius": 100
  }
}